    <div class="row">
        <div class="col-lg-6 col-md-6 form-group">
			<h2>Simple data plot</h2>
<img src="{{filename}}" alt="basic graph" height="70%" width="70%">
</div>
<div class="col-lg-6 col-md-6 form-group">
			<h2>Simple moving average</h2>
    <img src="{{filename_sma}}" alt="simple moving average"height="70%" width="70%" >
    </div>
	
        <div class="col-lg-6 col-md-6 form-group">
			<h2>Weighted moving average</h2>
<img src="{{filename_wma}}" alt="weighted moving average"height="70%" width="70%">
</div>
        <div class="col-lg-6 col-md-6 form-group">
			<h2>Exponential weighted moving average</h2>
<img src="{{filename_ewma}}" alt="exponential weighted moving average" height="70%" width="70%">
</div>
</div>