    <div class="row">
        <div class="col-lg-6 col-md-6 form-group">
			<h2>Abod model</h2>
<img src="{{filename}}" alt="abod model" height="70%" width="70%">
</div>
        <div class="col-lg-6 col-md-6 form-group">
			<h2>cluster model</h2>
<img src="{{filename_cluster}}" alt="cluster model" height="70%" width="70%">
</div>
        <div class="col-lg-6 col-md-6 form-group">
			<h2>cof model</h2>
<img src="{{filename_cof}}" alt="cof model" height="70%" width="70%">
</div>
        <div class="col-lg-6 col-md-6 form-group">
			<h2>iforest model</h2>
<img src="{{filename_iforest}}" alt="iforest model" height="70%" width="70%">
</div>
        <div class="col-lg-6 col-md-6 form-group">
			<h2>cknn model</h2>
<img src="{{filename_knn}}" alt="knn model" height="70%" width="70%">
</div>
        <div class="col-lg-6 col-md-6 form-group">
			<h2>lof model</h2>
<img src="{{filename_lof}}" alt="lof model" height="70%" width="70%">
</div>
        <div class="col-lg-6 col-md-6 form-group">
			<h2>svm model</h2>
<img src="{{filename_svm}}" alt="svm model" height="70%" width="70%">
</div>
        <div class="col-lg-6 col-md-6 form-group">
			<h2>sod model</h2>
<img src="{{filename_sod}}" alt="sod model" height="70%" width="70%">
</div>
        <div class="col-lg-6 col-md-6 form-group">
			<h2>histogram model</h2>
<img src="{{filename_histogram}}" alt="histogram model" height="70%" width="70%">
</div>
</div>