
    <div class="row">
        <div class="col-lg-6 col-md-6 form-group">
			<h2>Forecast</h2>
<img src="{{filename}}" alt="basic graph" height="70%" width="70%">
</div>
<div class="col-lg-1 col-md-1 form-group">
</div>
<div class="col-lg-4 col-md-4 form-group">

<br/><br/>
<h2>Your predicted results are as below</h2>
<div class="table-responsive">
<table class="table">
    <tr>
        <th>S. No</th>
        <th>Forecast details</th>
        <th>values</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Accuracy</td>
        <td>{{this.forecastDetails.accuracy}}</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Actual start month</td>
        <td>{{this.forecastDetails.start}}</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Actual end month</td>
        <td>{{this.forecastDetails.end}}</td>
    </tr>
    <tr>
        <td>4s</td>
        <td>Forecasted month</td>
        <td>{{this.forecastDetails.forecasted_month}}</td>
    </tr>
</table>
</div>
</div>


</div>