    <div style="margin-top:50px;" class="container-fluid">
        <h1 style="text-align:left;font-size: 50px;">Exafluence</h1>
<h2> Time Series Analysis</h2>
</div>

<nav class="navbar navbar-default" style="background-color: blueviolet;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/forecast">Forecast</a>
        <a class="navbar-brand" href="/analomy">Analomy detection</a>
        <a class="navbar-brand" href="/trend">trend detection</a>
    </div>
</nav>
<router-outlet></router-outlet>
