<div class="row">
        <div class="col-lg-3 col-md-3 form-group">
</div>
        <div class="col-lg-6 col-md-6 form-group">
<h2>Upload the data as csv here</h2>

<form action = "http://localhost:5000/uploader" method = "POST" 
enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit"  class="btn btn-primary"/>
</form>
<h2>Accuracy on each model</h2>
<div class="table-responsive">
<table class=table>
    <tr>
        <th>S. No</th>
        <th>Model name</th>
        <th>Accuracy</th>
    </tr>
    <tr>
        <td>1</td>
        <td>ARIMA</td>
        <td>-</td>
    </tr>
    <tr>
        <td>2</td>
        <td>RNN</td>
        <td>-</td>
    </tr>
    <td>3</td>
    <td>PROPHET</td>
    <td>-</td>
</table>
</div>
</div>
</div>
