<div class="row">
        <div class="col-lg-3 col-md-3 form-group">
</div>
        <div class="col-lg-6 col-md-6 form-group">
<br/><br/>
<h2>Upload the data as csv here</h2>

<div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
</div>
<!-- Shareable short link of  uoloaded file -->
<div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
</div>
<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>

<br/><br/>
<button type="submit" (click)="generateChart()" class="btn btn-primary">View Graphs Here</button>

<button type="submit" (click)="generateStatistics()" class="btn btn-primary">View statistics Here</button>

</div>
</div>
